<div class="container">
    <div class="text-center mb-3">
        <button class="btn btn-lg btn-primary" id="clear">Clear</button>
        <button class="btn btn-lg btn-primary" id="scrape">Scrape</button>
        <h1>ABC News Scraper</h1>
    </div>
    {{#each dbArticles}}
    <div class="card mt-1 mb-2">
        <div class="card-horizontal">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <a href={{link}} target="_blank" class="card-title">{{title}}</a>

                    </div>

                    <div class="col-3">
                        <button class="btn btn-lg btn-primary" data-id={{_id}} id="add-comment">Add Comment</button>
                    </div>
                    <!-- The Modal -->
                    <div class="modal" id="myModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <input type="text" class="modal-title" id="titleinput" name="name">
                                    <button type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <textarea id='bodyinput' name='body'></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                        id="savenote">Save Comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{#if note}}
                    <div class="col-2"></div>
                    <div class="col-4">
                        {{note.title}}:{{note.body}}
                    </div>
                    <div class="col-2">
                        <button class="btn btn-lg btn-primary" data-id={{note._id}} id="delete-comment">X</button>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>

    </div>

    {{/each}}
</div>

<script type="text/javascript" src="/assets/scrape.js"></script>